name: Run tests for Meaningless
on:
  push:
  workflow_dispatch:
  schedule:
    # Every Sunday at 1PM UTC
    - cron: '0 13 * * 0'
jobs:
  Run-Tests:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        # Omit macos-latest due to its high cost to run in GitHub Actions.
        # Note that we can also test specific OS versions, e.g. windows-2016
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.6', '3.7', '3.8']
    name: Build for ${{ matrix.os }} with Python ${{ matrix.python-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r REQUIREMENTS.txt
      - name: Run unit tests
        run: |
          cd test
          python unit_tests_bible_base_extractor.py
          python unit_tests_bible_list_extractor.py
          python unit_tests_bible_json_extractor.py
          python unit_tests_bible_yaml_extractor.py
          python unit_tests_json_file_interface.py
          python unit_tests_yaml_file_interface.py
          python unit_tests_bible_json_downloader.py
          python unit_tests_bible_yaml_downloader.py
      - name: Run system tests
        run: |
          cd test
          python unit_tests_bible_web_extractor.py
          python unit_tests_bible_base_downloader.py
          python unit_tests_bible_translations.py
      - name: Report job status
        run: |
          echo "This job's status is ${{ job.status }}."
